.loading_spin_div {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.step_button {
  position: fixed;
  right: 0;
  left: 0;
  width: 250px;
  margin: 0 auto;
}

.step_button button {
  margin: 0 15px;
}
