.ant-space-align-center,
.ant-space-item {
  width: 100%;
  min-height: 16px;
  text-align: center;
}

.loading_spin_div {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.step_button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.step_button button {
  margin: 0 15px;
}

.button_right {
  position: absolute;
  right: 0;
}
